<div class="container pt-5 heights"> 
  
<div class=" headings" appScrollAnimation>
    <div class="tunnel">
        <div class="cont">
<div class="main">
    <div class="justify-content-center">
        <h3>2 <sup>nd</sup> VIRTUAL INTERNATIONAL CONFERENCE
        </h3>
        <h4>on</h4>
    </div>
    
    <div>
        <h1>INNOVATIVE COMPUTATIONAL INTELLIGENCE ON ICICI'22
        </h1>
        <h4>17th June 2022</h4>
    </div>
</div>

    
<div class="main2">
    <div> 
        <h5>Organized by <br> Department of Computer Applications <br> Francis Xavier Engineering College</h5>
        </div>
        
        
        
        
        <div>    
        <h5>in Assocation with <br> Institution's Innovation Council</h5>
        </div>
</div>
</div>
</div>
</div>



    <div class="section" appScrollAnimation>
        <div class="tunnel">
<div class="cards p40" >
<div class="main">
    <h2>PUBLICATIONS</h2>

    <p> Peer reviewed research articles will be published in a Scopus Indexed journal with additional charges.</p>

    <table>
        <tr>
            <th>Publication charges</th>
            <th>&#x20B9; 8000/- </th>
               <th> &#x24; 40</th>
        </tr>
    </table>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="grid">
    <div class="section" appScrollAnimation>
      <div class="tunnel">
        <img class="animate" src="../../../../../assets/images/train.png" alt="train">
      </div>
    </div>
  </div> -->