<div class="container pt-5"> 
<div class="cards p40">
<div class="main">

    <div class="card2 hovers">
       <h2 class="rows"> CALL FOR PAPERS</h2>
            <p>
                Authors are invited to submit their extended abstract of papers that present original and unpublished.
 research in the following areas:
            </p>

    </div>
    



    
    
  <div class="card2 hovers">
   <h2 class="rows"> COMPUTER SCIENCE & APPLICATIONS</h2>

    <ul class="list">
      <li> Artificial Intelligence & Big Data Analytics</li>
      <li> Biomedical & Bio-informatics</li>
      <li> Business Intelligence</li>
      <li> Cloud Computing</li>
      <li> Computational Intelligence</li>
      <li> Computer Network & Operation Research</li>
      <li> Cryptography & Data Security </li>
      <li> Data Mining &  Deep Learning</li>
      <li> Distributed N/W Security </li>
      <li> Image & Video Processing </li>
      <li> Information Technology</li>
      <li> Machine Learning &  Mobile Computing </li>
      <li> Modeling & Expert Systems</li>
      <li> Natural Language Processing</li>
      <li> Wireless Communications </li>
    </ul>
    
  </div>  






<div class="card2 hovers">  
<h2 class="rows">DATES TO REMEMBER</h2>

<table class="tab1">
    <tr>
        <td style="text-align: left;"> Last date for Paper submission</td><td> - </td><td style="min-width: 170px;">10<sup>th</sup> April 2023</td>  </tr>
        <tr><td  style="text-align: left;">Last date for submission of camera-ready paper</td><td> - </td><td>17<sup>th</sup> April 2023</td></tr>
        
        <tr><td  style="text-align: left;">Last date for Registration</td><td> - </td><td>19<sup>th</sup> April 2023</td></tr>
  
</table></div>

</div>
</div>
</div>