<div class="container pt-5">

   <div class="main">

      <div>
         <div class="cards cards-m hovers" data-aos="fade-up" data-aos-offset="200">
            <div class="rows"> CHIEF PATRONS</div>

            <h3 data-aos="fade-left" data-aos-delay="300">Dr. S. CLETUS BABU</h3>
            <p data-aos="fade-left" data-aos-delay="400">Chairman, SCAD Group of Institutions</p>

            <h3 data-aos="fade-right" data-aos-delay="300">Dr. J.X. AMALI CLETUS BABU </h3>
            <p data-aos="fade-right" data-aos-delay="400">Vice Chairperson, SCAD Group of Institutions</p>

            <h3 data-aos="fade-left" data-aos-delay="300">Mr. C. ARUN BABU </h3>
            <p data-aos="fade-left" data-aos-delay="400"> Managing Director, SCAD Group of Institutions</p>
         </div>
      </div>




      <div>
         <div class="cards cards-m hovers" data-aos="fade-up" data-aos-offset="200">
            <div class="rows">PATRONS</div>

            <h3 data-aos="fade-right" data-aos-delay="300">Dr. K. JEYAKUMAR</h3>
            <p data-aos="fade-right" data-aos-delay="400">Prof & General Manager Development, SCAD Group of Institutions</p>

            <h3 data-aos="fade-left" data-aos-delay="300">Mr. K. KRISHNA KUMAR</h3>
            <p data-aos="fade-left" data-aos-delay="400">General Manager Administration, SCAD Group of Institutions</p>

            <h3 data-aos="fade-right" data-aos-delay="300">Dr. V. VELMURUGAN</h3>
            <p data-aos="fade-right" data-aos-delay="400"> Principal, Francis Xavier Engineering College</p>
         </div>
      </div>



      <div>
         <div class="cards cards-m hovers" data-aos="fade-up" data-aos-offset="200">
            <div class="rows">CONVENER</div>

            <h3 data-aos="fade-left" data-aos-delay="300">Mrs.D.ANGELINE RANJITHAMANI,</h3>
            <p data-aos="fade-left" data-aos-delay="400"> HOD/MCA Department</p>

            <h3 data-aos="fade-right" data-aos-delay="300">Mr.VINOD SOLOMON</h3>
            <p data-aos="fade-right" data-aos-delay="400">secretary,SICCI, chennai</p>
         </div>
      </div>


      <div>
         <div class="cards cards-m hovers" data-aos="fade-up" data-aos-offset="200">
            <div class="rows">CO-CONVENER</div>

            <h3 data-aos="fade-left" data-aos-delay="300">Mrs.K.Dhamaynthi </h3>
            <p data-aos="fade-left" data-aos-delay="400">Assistant Professor/MCA Department</p>

            <h3 data-aos="fade-right" data-aos-delay="300">Mr.M.Esakkiraj </h3>
            <p data-aos="fade-right" data-aos-delay="400">Assistant Professor/MCA Department</p>

         </div>

      </div>
      <div>
         <div class="cards cards-m hovers" data-aos="fade-up" data-aos-offset="200">
            <div class="rows">EVENT - COORDINATORS</div>

            <h3 data-aos="fade-left" data-aos-delay="300">Mr.A.ARUL AMALRAJ </h3>
            <p data-aos="fade-left" data-aos-delay="400">Assistant Professor/MCA Department</p>

            <h3 data-aos="fade-right" data-aos-delay="300">Mr.R.Albert Paulin Michael </h3>
            <p data-aos="fade-right" data-aos-delay="400">Assistant Professor/MCA Department</p>

            <h3 data-aos="fade-left" data-aos-delay="300"> Mrs.G.Durgaveni </h3>
            <p data-aos="fade-left" data-aos-delay="400">Assistant Professor/MCA Department</p>


         </div>

      </div>
   </div>
</div>