<div class="container pt-5"> 
<div class="cards p40 hovers" data-aos="zoom-in-up" data-aos-duration="1000">
<div class="main">
    
<h3 data-aos="fade-up" data-aos-delay="300">Mrs.D.ANGELINE RANJITHAMANI,<p> MCA..M.Phil.,M.E.. (Ph.D.)</p></h3>
<p data-aos="fade-up" data-aos-delay="400"> HOD/MCA Department <br>Francis Xavier Engineering College <br> Tirunelvell-627002 </p>

<div>
    <table class="contact-table" data-aos="fade-up" data-aos-delay="800">
       <tr>
           <th colspan="3">For Contact</th>
        </tr>
        <tr>
        <td>Mobile No</td> <td>:</td><td><div>+91 9597166792,</div><div>+91 9943077700</div></td></tr>
        <tr><td>Email</td> <td>:</td><td >mcahod@francisxavier.ac.in</td>
       </tr>
       
    </table>
</div>

</div>
</div>
</div>