<div class="background">

</div>

<div class="menu">
   
<div class="navbars cards">
    <input type="checkbox" class="chk-boxs" id="chk-boxs">
    <label for="chk-boxs" class="chkbox-labels"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg></label>

    <ul class="ul">
        <a class="nav-links" routerLink="/MCA/home"><li class="li">
            Home
        </li></a>
        <a class="nav-links" routerLink="/MCA/keynote"><li class="li">
            Keynote
        </li></a>
        <a class="nav-links" routerLink="/MCA/registration"><li class="li">
            Registration
        </li></a>
        <a class="nav-links" routerLink="/MCA/commite"><li class="li">
           Committee
        </li></a>
        <a class="nav-links" routerLink="/MCA/call-for-papers"><li class="li">
           Call for Papers
        </li></a>
        <a class="nav-links" routerLink="/MCA/subofpaper"><li class="li">
           Guidelines
        </li></a>
        <a class="nav-links" routerLink="/MCA/contact"><li class="li">
            Contact
        </li></a>
    </ul>
    <label for="chk-boxs" class="uncheck" >
    </label>
</div>
</div>


<div class="">
    <router-outlet></router-outlet>
</div>

