<div class="container pt-5"> 
    <div class="main">
    <div class="cards" data-aos="zoom-in-up" data-aos-duration="1000">
      <div class="rows">GUIDELINES TO AUTHORS</div>
    <div>
        <p>Researchers should submit their papers in the following format: 5 to 8 pages of length (including illustrations) 
            typed in single columns with single line spacing and 12 point Times New Roman font on A4 paper sheets. 
            The First page should include the paper title, researchers' names, affiliation, postal address, phone number,
             e-mail, a brief abstract, a set of keywords and text.
        </p>
    </div>
    
    <div class="cards-e">
        Papers may be sent os MS Word document <br>
         Via e-mail directly to: <br><br> <a href="mailto:icici23@francisxavier.ac.in"> icici23@francisxavier.ac.in</a> <br> <br>  that their papers will be presented at the conference.

    </div>
        
</div>
</div>
</div>