<div class="contents">
    <div class="headings" id="scroll" appScrollAnimation>
        <div class="tunnel" >
            <div class="cont" >
                <div class="main" >
                    <div class="justify-content-center">
                        <h3>3<sup>rd</sup> INTERNATIONAL CONFERENCE
                        </h3>
                        <h4>on</h4>
                    </div>

                    <div>
                        <h1>INNOVATIVE COMPUTATIONAL INTELLIGENCE 2023 (ICICI'23)
                        </h1>
                        <h4>21st April 2023</h4>
                    </div>
                </div>


                <div class="main2" >
                    <div>
                        <h5>Organized by <br> Department of Computer Applications <br> Francis Xavier Engineering
                            College</h5>
                    </div>




                    <div>
                        <h5>in Assocation with <br> Institution's Innovation Council</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 ">
        <div class="blur">
            <div class="cards p40 hovers" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" @fade>

                <div>
                    <h5>ABOUT THE COLLEGE</h5>
                    <p>Francis Xavier Engineering College Was Established in the year 2000 with the vision to empower
                        budding engineers in technical
                        and entrepreneurial training and to contribute to the socio-economic augmentation of the nation.
                        The College is located the
                        heart of the city of Tirunelveli heralded worldwide as the Oxford of South India, and is well
                        connected by Road, Rail and Air.
                        Recognising the fast that Curricular and co-curricular programs form an integral part of the
                        curriculum to help students have
                        commanding incorporation of theory and practical knowledge. Each individual is motivated to
                        increase the gravity of responsibility
                        and be committed to serve the nation.
                    </p>
                </div>
            </div>
        </div>
        <div class="cards p40 hovers" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" @fade>
            <div>
                <h5>ABOUT THE DEPARTMENT</h5>
                <p>MCA is a two-year professional master's degree program in computer applications. The program is a
                    blend of both theoretical and
                    practical knowledge endowing the students with abundant opportunity to work with tools meant to
                    develop better and faster
                    applications and was designed for the students to meet the growing demand of qualified professionals
                    in the field of
                    information technology which was established in the year 2007 with an intake of 60 seats with
                    memoran dum of understanding
                    with Dr. Agarwal Eye Hospital, Research Center and Hradi Infotech, Chennai and incubation Center
                    with Hradi Infotech, Chennai
                    for product launching in Australian based company.
                </p>
            </div>
        </div>
        <div class="cards p40 hovers" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" @fade>
            <div>
                <h5>ABOUT CONFERENCE</h5>
                <p>International Conference on Innovative Computational Intelligence (ICICI'23) aims to bring together
                    leading academicians,
                    researchers and research scholars from India and abroad to share and exchange their research
                    experiences and contributions on
                    all aspects of Computational Intelligence incorporating innovation strategies. It also provides a
                    premier interdisciplinary forum
                    for researchers, practitioners and educators to present and discuss the most recent innovations,
                    trends, concerns, practical
                    challenges encountered and the solutions adopted in the field of Computational Intelligence. This
                    conference aimed to expand
                    its coverage in the areas of Computational Intelligence with Innovation, where talks by experts and
                    presentation by researches
                    will be incorporated in every session of this meeting to keep up the spirit of enthusiasm.

                </p>
            </div>
        </div>
    </div>
</div>