<div class="container pt-5">
    <div class="cards p40">
        <div class="main">

            <h2>KEYNOTE SPEAKER</h2>




            <div class="flex key-table" data-aos="fade-right">
                <div class="flex50" data-aos="fade-right" data-aos-delay="300">
                    <img class="key-image" src="./assets/person1.jpeg">
                </div>
                <div class="flex50 flex margin">



                    <h2 style="text-align: left;" data-aos="fade-right" data-aos-delay="500">George Ghinea,<h6>BSc (Hons), Msc.. PhD., FHEA, MIEE, MBCS</h6></h2>
                    <p data-aos="fade-up" data-aos-delay="1000"><br>Professor of Multimedia Computing,<br> Department of Computer Science <br> College of
                        Engineering Design and Physical Sciences, <br>Brunel University, London</p>
                </div>
            </div>

            <div class="flex key-table" data-aos="fade-left"
            data-aos-offset="250"
            data-aos-duration="500">

                <div class="flex50 flex margin" >
                    <h2 style="padding: 0px 100px;" data-aos="fade-left" data-aos-delay="300">V Ranjini</h2>
                    <p data-aos="fade-up" data-aos-delay="1000"> <br> Senior Technologist, Infosys Ltd,<br>Houston,<br> Texas</p>
                </div>
                <div class="flex50" data-aos="fade-left" data-aos-delay="500" >
                    <img class="key-image" src="./assets/person2crp.jpeg">
                </div>
            </div>
            <div class="flex key-table" data-aos="fade-right">
                <div class="flex50" data-aos="fade-right" data-aos-delay="300">
                    <img class="key-image" src="./assets/person3crp.jpeg">
                </div>
                <div class="flex50 flex margin" >
                    <h2 data-aos="fade-right" data-aos-delay="500">Vasanth Vedamuthu Dharmaraj</h2>
                    <p data-aos="fade-up" data-aos-delay="1000"> <br> Frontend Engineer, <br> Amazon Toronto,<br> Canada</p>
                </div>
            </div>

            <!-- <div class="flex key-table"> 
    
    <div class="flex50 flex margin">
        
        <h2>Mrs. Rahmath Fathima PMP </h2><p><br>Senior Project Manager <br> TATA Consultancy services, <br>London, United Kingdom.</p> 
    </div>
    <div class="flex50">
        <img class="key-image" src="./././././assets/person1.jpeg">
    </div>
   </div> -->

        </div>



    </div>
</div>