<div class="container pt-5"> 
<div class="cards p40">
<div class="main">
    <h2>REGISTRATION</h2>
   <div class="cards-e">
    <h3 class="rows">Conference Registration FEE</h3>
    <p>
        Registration in mandatory for atleast one author of an accepted paper inorder to appear for the representation 
        of the proceedings to be included in the Technical Presentation</p>
   </div>
   <br>
   
   <div class="cards hovers">
       <table class="tab">
           <tr>
               <th>Category</th>
               <th>INR</th>
               <th>USD</th>
           </tr>
           <tr>
               <td>Students (PG)</td>
               <td>&#x20B9; 1000/-</td>
               <td>&#x24; 12</td>
           </tr>
           <tr>
            <td> Faculty & Research Scholars</td>
            <td>&#x20B9; 1500/-</td>
            <td>&#x24; 18</td>
        </tr>
        <tr>
            <td>Delegates from Foregin</td>
            <td>&#x20B9; 3000/-</td>
            <td>&#x24; 36</td>
        </tr>
        <tr>
            <td> Publication Charges (scopus)</td>
            <td>&#x20B9; 9000/-</td>
            <td>&#x24; 109</td>
        </tr>
       </table>
   </div>
   <p><B class="text-danger">Registration fee is to be paid through ONLINE.</B> </p>




  <div class="card2 hovers">
      <div class="rows">ACCOUNT DETAILS</div>  
      <table class="tab1">
          <tr>
              <th>Account Name:</th>
              <td>MCA Department Association</td>
          </tr>
          <tr>
              <th>Account No:</th>
              <td>2952101011436 </td>
          </tr>
          <tr>
              <th>IFSC Code:</th>
              <td>CNRB0002952</td>
          </tr>
          <tr>
              <td colspan="2"> Canara Bank, Vannarpettai, Tirunelveli</td>
          </tr>
      </table>
      

      
  </div>
<a class="card2" href="https://forms.gle/FR4BtS1Sh8vyjpWw9">Click To Register</a>  
</div>
</div>
</div>